<div class="credits_box panel panel-default container" ng-controller="creditsController as ctrl">

	<div class="justify-content-md-center">

		<h2>Credits</h2>
		<br/>
		<div class="row">
			<div>This residential GUI was made within the <a href="https://www.storage4grid.eu">Storage4Grid (S4G) project</a> by <a href="https://www.linksfoundation.com">LINKS Foundation</a>. For any problem please contact <a href="mailto:teodoro.montanaro@linksfoundation.com">LINKS</a></div>
		</div>
	    </br></br>
		<div class="row">
			<div>Some icons were made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> and are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
		</div>
	</div>
</div>
