
<div class="login_box panel panel-default">

	<div class="alert alert-danger alert-dismissible" role="alert" ng-if="error">
		Signup failed! <br/>{{ error.message }}
	</div>
	<div class="alert alert-success alert-dismissible" role="alertSuccess" ng-if="signedup">
		You were successfully signed up! Please click here to enter the app: <br /><a href="#!/home">Enter</a>
	</div>
	<form id="frmLogin" role="form" ng-submit="signUp()">
		<h2>Signup</h2>

		<b>Please insert the following information:</b>
		<br/><br/>
		<div class="form-group">
			<label for="txtEmail">Email address</label>
			<input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" ng-model="user.email" />
		</div>
		<div class="form-group">
			<label for="txtPass">Password</label>
			<input type="password"  autocomplete="new-password"  class="form-control" id="txtPass" placeholder="Password" name="password" ng-model="user.password" />
		</div>
		<div class="form-group">
			<label for="txtPass">Repeat your password</label>
			<input type="password" autocomplete="off" class="form-control" id="txtPass2" placeholder="Repeat your Password" name="password2" ng-model="user.password2" />
		</div>
		<button type="submit" class="btn btn-success center-block">Signup</button>
	</form>
</div>