<div class="new-template-widget" >
	<div class="new-template-widget-header">
		{{headerVar}}
	</div>
	<div id="panel-left">
		<div ng-if="inputData.widgetType == 'system-health'" class="system_health_template_div"
			 ng-controller="dashSystemHealthController as ctrl" class="col-md-10">
			<dash-system-health dash-text-color="'black'" value="value"
										  type="type"></dash-system-health>
		</div>
		<img ng-if="inputData.widgetType != 'system-health' && widgetIcon!=''" width="80%" src="{{widgetIcon}}" >

	</div>
	<div id="panel-right">
		<div ng-if="inputData.widgetType == 'dash-consumption1'" class="table_consumption" >
			<table class="tableConsumption">
				<tr>
					<th></th>
					<th>Today<br />(KWh)</th>
					<th>Current<br />(KW)</th>
				</tr>
				<tr class="rowTableConsumption">
					<td class="leftCellTableConsumption" data-toggle="tooltip" data-placement="top" title="Produced = Photovoltaic + Discharging Storage">Produced</td>
					<td data-toggle="tooltip" data-placement="top" title="Produced = Photovoltaic + Discharging Storage">{{s4gLocalVar.todaySelfProduced}}</td>
					<td data-toggle="tooltip" data-placement="top" title="Produced = Photovoltaic + Discharging Storage">{{s4gVar.currentSelfProduced_final}}</td>
				</tr>
				<tr class="rowTableConsumption">
					<td class="leftCellTableConsumption" data-toggle="tooltip" data-placement="top" title="Consumed = Charging Storage + House Loads">Consumed</td>
					<td data-toggle="tooltip" data-placement="top" title="Consumed = Charging Storage + House Loads">{{s4gLocalVar.todaySelfConsumed}}</td>
					<td data-toggle="tooltip" data-placement="top" title="Consumed = Charging Storage + House Loads">{{s4gVar.currentSelfConsumed_final}}</td>
				</tr>
				<tr class="rowTableConsumption">
					<td class="leftCellTableConsumption" data-toggle="tooltip" data-placement="top" title="From Grid = Consumed from Grid">From Grid</td>
					<td data-toggle="tooltip" data-placement="top" title="From Grid = Consumed from Grid">{{s4gLocalVar.todayEnergyFromGrid}}</td>
					<td data-toggle="tooltip" data-placement="top" title="From Grid = Consumed from Grid">{{s4gVar.currentFromGrid_final}}</td>
				</tr>
				<tr class="rowTableConsumption">
					<td class="leftCellTableConsumption" data-toggle="tooltip" data-placement="top" title="To Grid = Produced towards Grid">To Grid</td>
					<td data-toggle="tooltip" data-placement="top" title="To Grid = Produced towards Grid">{{s4gLocalVar.todayEnergyToGrid}}</td>
					<td data-toggle="tooltip" data-placement="top" title="To Grid = Produced towards Grid">{{s4gVar.currentToGrid}}</td>
				</tr>

			</table>
		</div>

		<div ng-if="inputData.widgetType == 'system-health'" class="text_value" >
			Photovoltaics: <span class="custom-tooltip" style="color:{{getColorOfStatus(s4gVar.currentPVSystem1Status);}}">{{s4gVar.currentPVSystem1Status}}<span class="custom-tooltiptext"><b>OK</b>: data received regularly<br /><b>Warning</b>: temporary lack of real-time data<br /><b>ERROR</b>: system disconnected</span></span>
		</div>
		<div ng-if="inputData.widgetType == 'system-health'" class="text_value" >
			Storage: <span class="custom-tooltip" style="color:{{getColorOfStatus(s4gVar.currentStorage1Status);}}">{{s4gVar.currentStorage1Status}}<span class="custom-tooltiptext"><b>OK</b>: data received regularly<br /><b>Warning</b>: temporary lack of real-time data<br /><b>ERROR</b>: system disconnected</span></span>
		</div>
		<div ng-if="inputData.widgetType == 'system-health'" class="text_value" >
			Electric Vehicle: <span class="custom-tooltip" style="color:{{getColorOfStatus(s4gVar.currentEV1Status);}}">{{s4gVar.currentEV1Status}}<span class="custom-tooltiptext"><b>OK</b>: data received regularly<br /><b>Warning</b>: temporary lack of real-time data<br /><b>ERROR</b>: system disconnected</span></span>
		</div>

		<div ng-if="inputData.widgetType == 'battery-status'" class="table_consumption" >
			<table class="tableConsumption">
				<tr>
					<th></th>
					<th>SoC</th>
					<th class="small-custom-tooltip">Status<span class="small-custom-tooltiptext"><b>EMPTY</b><br /><b>CHARGING</b><br /><b>IDLE</b><br /><b>HOLDING</b><br /><b>DISCHARGING</b><br /><b>FULL</b></span></th>
				</tr>
				<tr class="rowTableConsumption">
					<td class="leftCellTableConsumption">Storage</td>
					<td>{{getCurrentBatteryStateOfCharge()}} %</td>
					<td class="small-custom-tooltip">{{getCurrentBatteryStatus()}}<span class="small-custom-tooltiptext"><b>EMPTY</b><br /><b>CHARGING</b><br /><b>IDLE</b><br /><b>HOLDING</b><br /><b>DISCHARGING</b><br /><b>FULL</b></span></td>
				</tr>
			</table>
		</div>

		<div ng-if="inputData.widgetType == 'car-battery-status'" class="table_consumption" >

			<table class="tableConsumption">
				<tr>
					<th></th>
					<th>SoC</th>
					<th class="small-custom-tooltip" >Status<span class="small-custom-tooltiptext"><b>No status</b><br /><b>Charging</b><br /><b>Not charging</b></span></th>
				</tr>
				<tr class="rowTableConsumption">
					<td class="leftCellTableConsumption">Electric Vehicle</td>
					<td>{{getCurrentCarSoC()}} %</td>
					<td class="small-custom-tooltip" >{{getCurrentCarStatus()}}<span class="small-custom-tooltiptext"><b>No status</b><br /><b>Charging</b><br /><b>Not charging</b></span></td>
				</tr>
			</table>
		</div>
	</div>
</div>
